* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #448aff;
    text-align: center;
}

.App {
    width: 410px;
    margin: 50px auto;
    padding: 10px;
}

.App h1 {
    background-color: #fff;
    color: #448aff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

form {
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

input[type="text"] {
    height: 3.5rem;
    width: 20rem;
    background: #212121;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    margin-right: 4px;
    border-radius: 20px;
}

input[type="submit"] {
    height: 3.2rem;
    width: 6.5rem;
    background: #0a67ca;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.5;
}

.weather__list {
  background: #fff;
  margin-top: 20px;
  border-radius: 20px;
}

.weather__list div {
  display: flex;
  align-items: center;
  margin: 5px 20px;
}

.weather__list p {
  margin-left: 10px;
  text-transform: capitalize;
}